* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section Styles */
.header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 650px;
    align-items: center;
    text-align: right;
}

.empty-div {
    height: 809px;
    max-height: 809px;
}

.banner-text {
    margin: 216px 130px 167px 0;
}

.banner-title {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-btn {
    background-color: #F15B22;
    border: 0;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

/* Main Section Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/* My Failure Section Styles */
.my-failure-container {
    display: flex;
    gap: 87px;
    align-items: center;
}

.failure-text ul {
    padding: 0;
}

.failure-text li {
    list-style: none;
}

.failure-text i {
    color: #16D887;
}

.failure-text-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 16px 0;
}

/* My Plans Section Styles */
.plan-items-list {
    display: flex;
    gap: 86px;
}

.plan-item {
    margin-top: 50px;
    text-align: center;
}

.plan-item img {
    width: 93px;
    height: 93px;
}

.plan-item-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px;
}

.plan-item-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-top: 16px;
}