/* Styles for whole body */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.horizontal {
    width:10%; 
    margin: 10px auto 5px;
}

/* Header & Header Banner Section Styles */
.header {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 650px;
    align-items: center;
    text-align: right;
}

.empty-div {
    height: 809px;
    max-height: 809px;
}

.banner-text {
    margin: 216px 130px 167px 0;
}

.banner-title {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-btn {
    background-color: #F15B22;
    border: 0;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

/* Main Section Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}


.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.btn-white {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 160px;
    height: 64px;
}

/* My Failure Section Styles */
.my-failure-container {
    display: flex;
    gap: 87px;
    align-items: center;
}

.failure-text-horizontal {
    width: 10%;
    margin: 10px 0 5px;
}

.failure-text ul {
    padding: 0;
}

.failure-text li {
    list-style: none;
}

.failure-text i {
    color: #16D887;
}

.failure-text-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 16px 0;
}

/* My Plans Section Styles */
.my-plans-container .section-title {
    text-align: center;
}

.my-plans-container hr {
    text-align: center;
}

.plan-items-list {
    display: flex;
    gap: 86px;
}

.plan-item {
    margin-top: 50px;
    text-align: center;
}

.plan-item img {
    width: 93px;
    height: 93px;
}

.plan-item-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px;
}

.plan-item-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-top: 16px;
}

/* My Other Plans Section Styles */
.other-plans-container .section-title {
    text-align: center;
}

.all-plans {
    display: flex;
    gap: 60px;
    margin-top: 40px;
    text-align: center;
}

.all-plans-item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px 15px;
}

.all-plans img {
    width: 300px;
    height: 250px;
    border: 8px solid #F15B22;
    border-radius: 5px;
}

.all-plans .section-title {
    font-size: 30px;
    margin-top: 10px;
}


/* Mindset Section Styles */
.mindset-section-container {
    height: 300px;
    max-height: 300px;
    /* My New Learning of CSS Gradient, Overlaying Color Over a BG Image */
    background-image: linear-gradient(to right, rgba(237, 91, 35, 1), rgba(142, 175, 142, 0.05)), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mindset-text-btn {
    padding: 59px 0px 59px 64px;
}

.mindset-section-container .section-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

/* Footer Section Styles */
footer {
    background-color: #151414;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 150px;
}

.footer-social {
    width: 485px;
    margin: 130px 0px 130px 230px;
}

.footer-social a {
    text-decoration: none;
    margin-right: 17px;
}

.footer-social-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

.footer-social-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.footer-form {
    margin: 130px 230px 130px 0px;
}

.footer-form-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
}

form input {
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #151414;
    color: #F3F3F3;
    padding: 10px;
    margin-bottom: 16px;
}

/* Footer Copyright Section Styles */
footer .copyright {
    margin: 0;
}

.copyright hr {
    color:burlywood;
}

.copyright p {
    text-align: center; 
    padding: 20px 0;
    color: #ffffff;
}

.copyright a {
    text-decoration: none;
    color: #F15B22;
}

.copyright a:hover {
    color: bisque;
}